{% extends 'base.html.twig' %}

{% block title %}
  EMPLOYEES
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">name</th>
          <th scope="col">surname</th>
          <th scope="col">email</th>
          <th scope="col">phone number</th>
          <th scope="col">specialization(s)</th>
          <th scope="col">created at</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.specialization | join (', ') }}</td>
            <td>{{ employee.createdAt|date('Y-M-d H:i:s') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="text-right">
    <a href="{{ path('sonata_admin_dashboard') }}">admin</a>
    </div>    
  </div>
{% endblock %}
